<!-- Footer -->
<footer class=" text-center py-3">
  <p class="mb-0">&copy; 2024 StrobeTech Solutions</p>
  <p class="text-center text-grey"> <i class="fa fas-phone"></i> adarikumichael@gmail.com | <a href="/admin">More details</a></p> 
</footer>
