<%- include('./partials/nav') %>

<%- include('./partials/messages') %>


    <div class="page-header">
        <div class=" text-center ">
            <h4 class="display-4">About Us</h4>
        </div>
    </div>
        

<div class="container">
    <div class="values-section">
        <h3 class="text-center mb-4 primary-color text-uppercase">Our Core 6 Values</h3>
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="">
                    <div class="text">
                        <h4 class="">Culture & Tourism</h4>
                        <p class="secondary-color">Honoring cultural heritage, promoting cross-cultural understanding, and showcasing local attractions.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class=" ">
                    <div class="text">
                        <h4 class="">Women's Empowerment</h4>
                        <p class="secondary-color">Empowering women to reach their full potential.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class=" ">
                    <div class="text">
                        <h4 class="">Inclusivity</h4>
                        <p class="secondary-color">Welcoming women from diverse backgrounds and abilities.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class=" ">
                    <div class="text">
                        <h4 class="">Character Development</h4>
                        <p class="secondary-color">Fostering fairness, integrity, creativity, and good character in all involved.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class=" ">
                    <div class="text">
                        <h4 class="">Humanity</h4>
                        <p class="secondary-color">Promoting compassion, kindness, and community service.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class=" ">
                    <div class="text">
                        <h4 class="">Unusualization</h4>
                        <p class="secondary-color">Breaking from convention, thinking outside the box, and transforming the ordinary into extraordinary experiences.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="mission-section jumbotron">
        <h3 class="primary-color">Our Mission</h3>
        <p>We are committed to providing a free and fair platform where contestants can showcase their talents, intelligence, and character while honoring their cultural heritage and promoting women's capacity development. Our pageant welcomes women from diverse backgrounds and abilities, making us a reflection of the world's beauty in diversity.</p>
    </div>
</div>

<div class="container">
    <div class="vision-section jumbotron">
        <h3 class="primary-color">Our Vision</h3>
        <p>The Carnival Queen Pageant aims to be a leading platform for women's empowerment, cultural exchange, and community development. We strive to create an extraordinary experience that inspires and uplifts everyone involved, breaking conventions and transforming the ordinary into extraordinary through the concept of “Unusualization”.</p>
    </div>
</div>

<div class="container">
    <div class="other-abouts jumbotron">
        <h3 class="primary-color">Unusualization</h3>
        <p class="font-italic">Transforming the Ordinary into Extraordinary</p>
        <p>At The Carnival Queen Pageant, we believe in challenging conventions and pushing boundaries. Our watchword, “Unusualization” is created by us through the process of “Neologization” to embody this spirit of innovation and creativity. Unusualization is the process of transforming the ordinary into extraordinary, breaking free from conventional thinking and embracing new possibilities as well as challenging norms and stereotypes.</p>
        

        <br>
        <h4 class="primary-color"> Theme Overview</h4>
        <p>The Carnival Queen Pageant proudly presents its maiden edition theme: "ELIXIR: Rejuvenating the Power of Culture and Tourism." This theme embodies the essence of our mission to celebrate cultural diversity, promote tourism, and empower women.</p>
        
        <br>
        <h4 class="primary-color">ELIXIR</h4>
        <p>Is a magical or medicinal potion believed to have healing or transformative properties.
            A refreshing or rejuvenating substance for revitalizing or restorative. It is often seen as a remedy and solution 
        </p>
            
            <p>In our context:
            <b>"ELIXIR"</b> serves as a powerful theme for The Carnival Queen Pageant main edition focus , symbolizing:
        </p>
            <ul>
                <li>Cultural rejuvenation</li>
                <li>Tourism revitalization</li>
                <li>Women's empowerment</li>
            </ul>
    </div>
</div>



<%- include('./partials/footer') %>
<!-- Link to Local Bootstrap JS -->
<script src="/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>