
<div class ="body">
    <div class="error-container">
        <p class="error-message">error code</p>
        <div class="error-code">505</div>
        <p class="error-message">Oops! Try again later, system enforcing stop action!</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</div class ="body">
</html>